PROJECT_NAME="Gamer API"
API_V1_STR="/api/v1"

# Database (Credenciais para o Postgres no Docker)
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_DB=app_gamer_db
POSTGRES_PORT=5432

# Database URL para o SQLAlchemy (Async)
# Formato: postgresql+asyncpg://user:password@server:port/db_name
DATABASE_URL=postgresql+asyncpg://postgres:password123@localhost:5432/app_gamer_db

# Security
# Em produção, gere uma chave aleatória segura (ex: openssl rand -hex 32)
SECRET_KEY=secret_key_exemplo_para_dev_mude_em_prod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30